body {
    background: linear-gradient(to bottom right,
        #0000CD, 
        #4169E1,
        #4682B4
     );
}
a {
    background-color: blue;
}
p {
    background: lightblue;
}
h1 {
    border-radius: 12px;
    color: Aquamarine;
    background: DarkBlue;
}
.text-l {
    margin-left: 50px;
    border: 5px double white;
    font-size: 20px;
    color: gold;
}
.text-i {
    color: white;
}
.text-h1 {
    background: Navy;
    border-radius: 12px;
    color: Seashell;
}